.btnGoogle {
  margin: 5px;
  width: 180px;
  height: 35px;
  border-radius: 4px;
  background: #db3236;
  color: white;
  border: 0px transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.btnGoogle:hover {
  background: #db3236;
  opacity: 0.6;
}
