* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  background: #da4453;
  background: -webkit-linear-gradient(to right, #89216b, #da4453);
  background: linear-gradient(to right, #89216b, #da4453);
}
